[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
email-validator = "*"
faiss-cpu = "*"
flask-login = "*"
flask-migrate = "*"
flask-simple-captcha = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
langchain-community = "*"
langchain-core = "*"
langchain-mistralai = "*"
pypdf = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
