[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
email-validator = "*"
langchain-core = "*"
langchain-community = "*"
langchain-mistralai = "*"

[dev-packages]

[requires]
python_version = "3.10"
