{% extends "base.html" %}

{% block content %}



<script>
	window.onload = function() {
		spot.scrollIntoView();  // Scroll to the "spot" element
	};
</script>

<h1>
	{% for message in current_user.chat_history %} 
		<font color="purple">{{ message.user }}:</font> {{ message.message }}<br>
	{% endfor %}
</h1>

<a id="spot"></a>

<form action="/pending" method="post">
	<div><lable for="query"></lable>
		<textarea rows="8" cols="120" name="query"></textarea>
		<br>
		<input value="query" type="submit"><br>
		<br>
	</div>
	<div><lable for="controls"></lable>
		<font color="purple">Controls:</font><br>
		<lable for="rag">RAG selection:</lable>
		<select name="rag" id="rag">
			{% for option in current_user.rag_list %} 
				{% if option == current_user.rag_selected %}
					<option value="{{ option }}" selected>{{ option }}</option>
				{% else %}
					<option value="{{ option }}">{{ option }}</option>
				{% endif %}
			{% endfor %}
		</select><br>
		<br>
	</div>
	<div><lable for="help"></lable>
		<a href="/help">Help</a><br>
		<br>
	</div>
	<div><lable for="links"></lable>
		<font color="purple">Links:</font><br>
		View RAG source document 
		<a href="/rag_corpus" target="_blank">corpus summaries</a>, 
		{% if (current_user.rag_used != 'None') and (current_user.rag_used != 'Auto') %}
			<a href="/rag_text" target="_blank">text</a> (txt or vtt), 
			<a href="/rag_source" target="_blank">source</a> (pdf or mp4/vtt), 
			<a href="/rag_uncorrected_source" target="_blank">uncorrected source</a> (mp4/vtt), or 
			<a href="/cur_file" target="_blank">curration</a> 
		{% endif %}
		(open in a new tab)<br>
	</div>
	{% if current_user.role == "administrator" %}
		<br>
		<div>
			<font color="purple">Admin controls:</font><br>
			Process is to download to server, then to ingest.<br>
			&quot;pfn&quot; is path and filename (relative, absolute, or https:// ending in .html); &quot;None&quot; must be included where indicated.<br>
			chatbot_command.apikey(None)          # Displays API key<br>
			chatbot_command.batchingest(pfn)      # Batch ingest local from based on contents of pfn, see pdf_batch_ingest_sample.txt<br>
			chatbot_command.corrections(pfn)      # Transcription corrections written to .cur file<br>
			chatbot_command.delete(pfn)           # Delete server local file <i>Not yet implemented (use ssh and winscp)</i><br>
			chatbot_command.download(pfn)         # Save one file from web to local<br>
			chatbot_command.ingest(pfn)           # Ingest one file from local<br>
			chatbot_command.listclues(None)       # Lists available faiss as per clues file<br>
			chatbot_command.listfiles(None)       # Lists available faiss from local<br>
			chatbot_command.listusers(None)       # Lists users <i>Not yet implemented (use ssh and &quot;users = db.session.scalars(query)&quot; in interactive python)</i><br>
			chatbot_command.mapreducesummary(pfn) # Map Reduce Summarize one file from web or local, output to chat only (larger)<br>
			chatbot_command.ollamalist(None)      # Displays loaded/running Ollama models<br>
			chatbot_command.pwd(None)             # Displays working directory<br>
			chatbot_command.summary(pfn)          # Summarize one file from web or local (maybe not html tho), output to chat only (smaller than 15 pages)<br>
			chatbot_command.test(None)            # Tests access to rag_source_clue_value<br>
			Note: &quot;rag_source_clues.txt&quot; controls rag selection<br>
			Note: Need to search and write FAISS with same embedder, either nomic-embed-text or mistral-embed; can't cross.<br>
		</div>
	{% endif %}
</form>

{% endblock %}
