{% extends "base.html" %}

{% block content %}
  <div align="center">
    <table style="width: 723px; height: 284px;" cellspacing="5" cellpadding="5"
      border="5">
      <tbody>
        <tr>
          <th colspan="2">
            <h1><a href="/ChatBot83">ChatBot83</a> on "{{webserver_hostname}}"</h1>
            <br>
          </th>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/fullragchat_init_gerbot">GerBot</a></h1>
            <p>Conversational Retrieval Augmented GenerativeAI chatbot 
            with agent selected RAG content - 
            enables chat with and about the published works of <strong>Gerry Stahl</strong>. 
            Full library is here <a href="http://gerrystahl.net/pub/index.html">gerrystahl.net/pub</a>. 
            Functions as an interactive natural language search of the targeted texts.</p>
          </td>
          <td style="width: 201.583px;">
            <p>View some <strong>GerBot</strong> <a href="/gerbotsamples" target="_blank">sample</a> questions and answers.</p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/fullragchat_init_vtsbot">VTSBot</a></h1>
            <p>Conversational Retrieval Augmented GenerativeAI chatbot 
            with agent selected RAG content - 
            enables chat with and about select martial arts content.</p>
          </td>
          <td style="width: 201.583px;">
            <p>View some <strong>VTSBot</strong> <a href="/vtsbotsamples" target="_blank">sample</a> questions and answers.</p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p>FinancialWealthAdvisorBot</p>
            <p>Go through some chat based survey of your assets, debt, 
            income, retirement plans, some biographics, and 
            get interactive feedback on how to diversify and 
            grow wealth.</p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p><a href="/battle_story_01">FinTech hack-a-thon demo</a></p>
            <p>Simulation game where you choose two corporate entities, 
            and then are given a story and illustration of a battle between them.</p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p>RAG-a-thon demo</p>
            <p>Chatbot which tries to provide realtime 
            first responder guidence; whether you've stumbled upon an accident, 
            or the lights suddenly go out, or a mouse attacks you, 
            Zero-Responder is there to help.</p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
        <tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p>Law hack-a-thon demo</p>
            <p>Tool to help vollenteer lawyers process federal and state declorations 
            on behalf of their clients; declorations are letters detailing need for their 
            criminal record to be sealed clear of casual employment background checks.</p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
        <tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p>Humming Bird ID v2</p>
            <p>After first camera and Pi were defeated by rain and sun 
            (using Motion and then Coral image matching to animals and then birds), 
            this is second project with continued goals: <br>
            1) ID from video stream when a humming bird is there<br>
            2) Try to recognize individual birds<br>
            </p>
            <p></p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p>BotGen8 LLC</p>
            <p>Full stack, systems integration, GenerativeAI, custom solutions for small and medium bussinesses.</p>
          </td>
          <td style="width: 201.583px;">
            <p>Visit BotGen8 website</p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p>Yiwen Yoga - extract content from recorded classes</p>
            <p>Tool which saves down YouTube videos, transcribes via Whisper, then breaks down 
            sequences and mini-lectures from classes. 
            Creates webpage with video links, summeries, and sequence notes.</p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p>Tool to make photo alblum from socal media</p>
            <p>Provide your credentials, it goes and crawls your socials, figures out who you are, 
            figures out what interesting and representitive pictures (and text) you have access to, 
            asks you for yea or neighs, and then makes a pdf out of it, and sends it off to be printed and 
            mailed to you. Transforms and saves virtual imperminant media to real physical media. </p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width: 473.933px;">
            <h1 style="text-align: center;"><a href="/func"></a></h1>
            <p></p>
          </td>
          <td style="width: 201.583px;">
            <p></p>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <p>Authorized users only.</p>
  </div>
{% endblock %}