{% extends "base.html" %}

{% block content %}

<meta http-equiv="refresh" content="0; URL=/reply"> <!-- will this work in body? -->

<script>
	window.onload = function() {
		spot.scrollIntoView();  // Scroll to the "spot" element
	};
</script>

<h1>
	{% for message in current_user.chat_history %} 
		<font color="purple">{{message.user }}:</font> {{ message.message }}<br>
	{% endfor %}
</h1>

<a id="spot"></a>

<form action="/reply" method="post">
	<div>
		<lable for="query"></lable>
		<textarea rows="8" cols="120"></textarea><br>
		<br>
		<!-- query text box with no click to submit while inferencing -->
		<br>
	</div>
	<div>
		Controls:<br>
		<lable for="rag">RAG selection:</lable>
		<select name="rag" id="rag">
					<option value="{{ current_user.rag_selected }}" selected>{{ current_user.rag_selected }}</option>
		</select>
	</div>
</form>

{% endblock %}
